<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xin chào Học viên</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Linked external CSS -->
</head>
<body>

<!-- Header -->
<div th:replace="layout/header :: header('Trang dành cho Admin')"></div>

<!-- Sidebar -->
<div th:replace="layout/sidebar :: sidebar"></div>

<div class="container">
</div>
<div th:replace="layout/footer :: footer"></div>

</body>
</html>
